* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.flex-container {
    background: linear-gradient(45deg, #84fab0, #81ccf3);
    padding: 1em;

    display: flex;
    align-items:flex-start;
    flex-direction: row;
    gap: 1em;
}

p{
    color: #fff;
    font-size: 16px;
}

.content {
    flex: 1;
}

.hh {
    width: 304px;
    height: 250px;
}